@(goalForm: play.data.Form[models.Goal])

@import helper._

@main("Cadastro de Cliente") {

@helper.form(action = routes.GoalsApp.save()) {
  	
        @helper.inputText(goalForm("Description"), '_label -> "Description:", 'size -> 100, 'placeholder -> "Goal Description")
        @helper.inputText(goalForm("Week"), '_label -> "Week:", 'size -> 100, 'placeholder -> "1 - 2 - 3 - 4 - 5 - 6")
        @helper.inputText(goalForm("Priority"), '_label -> "Priority:", 'size -> 100, 'placeholder -> "Low, Medium, High, Critical")
        <button type="submit">Create</button>
        
   }

}